
###> symfony/framework-bundle ###
/vendor/
/.env
/.env.local
/.env.dev
/config/jwt/private.pem
/config/secrets/

###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
